.button {
	border-radius: 6rem;
	height: 40px;
	min-width: 12rem;
	padding: 4px 20px;
	@include display-flex;
	flex-direction: row-reverse;
	column-gap: 1.5rem;
	font-size: 16px;
	font-weight: 500;
	& svg {
		max-width: 20px;
		max-height: 20px;
	}

	&.disabled {
		user-select: none;
        cursor: not-allowed;
        pointer-events: none;
		color: $color-gray;
		border-color: $color-gray;
        
	}

	&.large {
		height: 50px;
		font-size: 2rem;
		& svg {
			max-width: 24px;
			max-height: 24px;
		}
	}

	&__default {
		border: 2px solid $color-primary;
		color: $color-primary;

		&:hover {
			background-color: $color-primary;
			color: $color-white;
			filter: $shadow-button;
		}
	}

	&__primary {
		filter: $shadow-button;
	}

	&__gradient {
		background: $color-gradient;
		min-width: 15rem;
		color: $color-white;
		border: 0;
		&:hover,
		&:active,
		&:focus {
			background: $color-gradient;
			color: $color-white;
			filter: $shadow-button;
		}
	}

	&__text {
		color: $color-primary;
		flex-direction: row;
		column-gap: 1rem;
		position: relative;
		overflow: hidden;
		font-size: 14px;
		&::after {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			background-color: currentColor;
			width: 100%;
			height: 100%;
			opacity: 0;
			transition: all 350ms cubic-bezier(0.645, 0.045, 0.355, 1);
		}

		&.success {
			color: $color-success !important;
		}
		&:hover,
		&:active,
		&:focus {
			color: currentColor;
			background-color: transparent;

			&::after {
				opacity: 0.15;
			}
		}
	}
	&__icon {
		@include display-flex(center);
		border: 0;
		overflow: hidden;
		width: 40px;
		height: 40px;
		padding: 8px;
		border-radius: 50%;
		position: relative;

		& svg {
			max-width: 22px;
			max-height: 22px;
		}
		&::after {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			background-color: currentColor;
			width: 100%;
			height: 100%;
			opacity: 0;
			transition: all 350ms cubic-bezier(0.645, 0.045, 0.355, 1);
		}

		&:hover,
		&:active,
		&:focus {
			color: currentColor;
			background-color: transparent;

			&::after {
				opacity: 0.15;
			}
		}
	}
}
