.Menu__sec {
	color: #ffffff;
	font-size: 14px;

	position: fixed;
	width: 100vw;
	top: 0;
	z-index: 1000;
	background-color: transparent;
	transition: background-color 200ms ease, top 300ms linear;
	&.sticky {
		background-color: $color-white;
		filter: $shadow-backgroud;
		top: 0;
		animation: appbar-visible 400ms ease-in;

		& .Menu__nav--profile > .profile__name {
			color: $color-black-light;
		}
	}
	&.visible {
		top: 0;
	}

	&.activeMenu {
		background-color: $color-blue;
	}
	&-dark {
		background-color: transparent;
	}
	li.Menu__li {
		padding: 0 2.5rem;
		cursor: pointer;
		@include respond(laptop) {
			padding: 0 1.8rem;
		}
		@include respond(sm-laptop) {
			padding: 0 1.2rem;
		}

		& a {
			@include set-font(14px, 600, $color-white);
			&:hover {
				color: $color-primary-light;
			}
			&.active {
				color: $color-primary-light;
			}
		}
	}

	.menu_logo {
		// padding: 0 1rem;
		z-index: 1051;

		@include respond(big-tablet) {
			order: 3;
			justify-content: flex-end;
		}

		& .logo {
			width: 5.8rem;
			height: 5.2rem;
			border-radius: 50%;
			padding: 1rem;
			@include display-flex(center);
			margin-left: 1.5rem;
			@include respond(big-tablet) {
				width: 4.4rem;
				height: 4.4rem;
				margin-left: 1rem;
			}

			& img {
				width: 100%;
				height: 100%;
				margin-left: -2px;
			}
		}
		& .logo-text {
			& svg {
				width: 100%;
				transition: all 300ms;
			}
			@include respond(big-tablet) {
				max-width: 10rem;
			}
		}
		&.dark {
			& .logo {
				background-color: $color-white;
			}
			& svg > path {
				fill: #ffffff;
				stroke: #ffffff;
			}
		}
		&.activeMenu {
			@include respond(big-phone) {
				& svg > path {
					fill: #ffffff;
					stroke: #ffffff;
				}
			}
		}
	}
	.Menu__nav {
		padding: 8px 3rem;
		min-height: 8rem;
		padding-left: 0;
		width: 100%;

		position: relative;
		// overflow: hidden;
		transition: all 400ms ease-in-out;

		@include respond(big-tablet) {
			order: 1;
			position: fixed;
			right: -100vw;
			top: 0;
			padding-top: 10rem;
			width: 50vw;
			height: 100vh;
			background-color: $color-blue;
			align-items: flex-start;
			flex-direction: column-reverse;
			justify-content: flex-end;

			&::before {
				content: none !important;
			}
		}

		@include respond(big-phone) {
			width: 100vw;
		}

		&.active {
			display: flex;
			right: 0;
		}
		&::before {
			content: '';
			position: absolute;
			right: 0;
			top: 0;
			width: 100vw;
			height: 100%;
			z-index: -1;
			background-color: $color-blue-dark;
			border-bottom-right-radius: 85px;
		}

		&--profile {
			flex-direction: row-reverse;
			margin-right: 2rem;
			display: none;

			@include respond(big-tablet) {
				display: flex;
			}
			@include respond(smallest-phone) {
				margin-right: 1rem;
			}

			&.hidden {
				display: none;
			}

			& .profile__image {
				margin-left: 1rem;
				& img {
					width: 4rem;
					height: 4rem;
				}
			}
		}

		& .Menu__ul {
			width: 100%;
			@include display-flex;
			@include respond(big-tablet) {
				flex-direction: column;
				align-items: flex-start;
				& .Menu__li {
					&:not(:last-child) {
						margin-bottom: 2.5rem;
					}
				}
			}
		}

		&--btn {
			flex-direction: column;
			display: none;
			z-index: 1051;
			@include respond(big-tablet) {
				display: flex;
			}
			&:focus,
			&:active {
				&::after {
					opacity: 0;
				}
			}
			& span {
				background-color: $color-black;
				width: 2.6rem;
				height: 2px;
				border-radius: 6px;
				transition: all 200ms;

				&:nth-child(2) {
					margin: 4px 0;
				}
			}
			&.open {
				& > span {
					background-color: #fff;
					&:nth-child(2) {
						transform: translateX(2rem);
						opacity: 0;
					}
					&:nth-child(1) {
						transform: rotate(-45deg) translate(-4px, 4px);
					}
					&:nth-child(3) {
						transform: rotate(45deg) translate(-4px, -4px);
					}
				}
			}
			&.dark {
				& > span {
					background-color: $color-white;
				}
			}
		}

		&--wrapper {
			@include display-flex;
			width: 100%;
			@include respond(big-tablet) {
				width: auto;
			}
		}
	}
	& .Menu-wrapper {
		@include display-flex;
		column-gap: 3rem;
		width: 100%;
		height: 8rem;
		@include respond(big-tablet) {
			justify-content: space-between;
		}
		@include respond(smallest-phone) {
			column-gap: 0;
		}
	}
	& .Menu_actions {
		@include display-flex;
		@include respond(big-tablet) {
			order: 1;
			flex-direction: row-reverse;
			justify-content: space-between;
			width: 100%;
			padding-left: 2rem;
			margin-bottom: 3rem;

			&--profile {
				flex-direction: row-reverse;
				margin-right: 2rem;
				& .profile__image {
					margin-left: 1rem;

					& img {
						width: 40px;
						height: 40px;
					}
				}
			}
			& .link {
				height: 28px;
				font-size: 12px;
			}
		}

		& > .ant-btn {
			color: $color-white;
			margin-left: 1.5rem;
		}
	}

	p.profile__name {
		margin-left: 16px;
		color: #ccd5da;
		@include respond(tablet) {
			font-size: 12px;
		}
	}
	.profile__image {
		position: relative;
		img {
			width: 44px;
			height: 44px;
			border-radius: 50%;
			overflow: hidden;
			margin-bottom: 3px;
		}
		.profile-menu {
			display: flex;
			flex-direction: column;
			position: absolute;
			left: 0;
			// top: 0;
			background: #e5e5e5;
			border-radius: 8px;
			padding: 0.6rem 1rem 0.8rem 1rem;
			font-size: 1.4rem;
			font-weight: 700;
			// min-width: 10rem;
			width: max-content;
			color: #121212;
			// align-items: center;
			justify-content: center;

			&-item {
				display: flex;
				*:first-child {
					margin-left: 10px;
				}
			}
		}

		&-content {
			// display: none;
			div {
				background-color: #fff;
				color: $color-primary;
				border-radius: 50%;
				top: 25px;
				right: 0;
				padding: 0.1rem 0.2rem;
			}
		}
	}
}

.Menu_actions--profile {
	position: relative;
	// margin-bottom: 3px;

	.profile-menu {
		display: flex;
		flex-direction: column;
		position: absolute;
		left: 0;
		// top: 0;
		background: #e5e5e5;
		border-radius: 8px;
		padding: 0.6rem 1rem 0.8rem 0;
		font-size: 1.4rem;
		font-weight: 700;
		min-width: 10rem;
		color: #121212;
		// align-items: center;
		justify-content: center;
	}
}

.appbar {
	&__dahsboard {
		color: #ffffff;
		font-size: 14px;
		&.sticky {
			@include respond(tablet) {
				box-shadow: 0 4px 15px rgba($color: #000000, $alpha: 0.15);
			}
		}
		li.Menu__li {
			padding: 0 2rem;
			@include respond(big-tablet) {
				padding: 0 1.4rem;
			}
			& a {
				@include set-font(14px, 600, $color-white);
				&:hover {
					color: $color-primary-light;
				}
				&.active {
					color: $color-primary-light;
				}
			}
		}
		.logo {
			margin-left: 10px;
		}
		& .menu_logo {
			padding-right: 12rem;
			flex: 1 0 25%;
			justify-content: center;
			@include respond(big-tablet) {
				padding-right: 3rem;
				flex: 1 0 20%;
			}
			@include respond(tablet) {
				order: 2;
				padding-right: 0;
				padding-left: 2rem;
			}
			& .logo {
				width: 5.8rem;
				height: 5.8rem;
				border-radius: 50%;
				padding: 1rem;
				@include display-flex(center);
				margin-left: 1.5rem;
				@include respond(tablet) {
					margin-left: 0.5rem;
				}

				& img {
					width: 100%;
					height: 100%;
					margin-left: -2px;
				}
			}
			& .logo-text {
				& svg {
					width: 100%;
					transition: all 300ms;
				}
				@include respond(big-tablet) {
					max-width: 14rem;
				}
			}
		}
		& .Menu_actions {
			@include display-flex;
			@include respond(big-tablet) {
				order: 1;
				flex-direction: row-reverse;
				justify-content: space-between;
				width: 100%;
				padding-left: 2rem;
				margin-bottom: 3rem;
				&--profile {
					flex-direction: row-reverse;
					margin-right: 2rem;
					& .profile__image {
						margin-left: 1rem;

						& img {
							width: 40px;
							height: 40px;
						}
					}
				}
				& .link {
					height: 28px;
					font-size: 12px;
				}
			}

			& > .ant-btn {
				color: $color-white;
				margin-left: 1.5rem;
			}
		}

		.Menu__nav {
			@include respond(tablet) {
				display: none;
			}
			&--btn {
				flex-direction: column;
				display: none;
				z-index: 1051;
				@include respond(tablet) {
					display: flex;
				}
				&:focus,
				&:active {
					&::after {
						opacity: 0;
					}
				}
				& span {
					background-color: $color-black;

					width: 2.6rem;
					height: 2px;
					border-radius: 6px;
					transition: all 200ms;

					&:nth-child(2) {
						margin: 4px 0;
					}
				}
				&.open {
					& > span {
						&:nth-child(2) {
							transform: translateX(2rem);
							opacity: 0;
						}
						&:nth-child(1) {
							transform: rotate(-45deg) translate(-4px, 4px);
						}
						&:nth-child(3) {
							transform: rotate(45deg) translate(-4px, -4px);
						}
					}
				}
			}

			&--wrapper {
				flex: 1 0 75%;
				// margin-right: 3rem;
				background-color: $color-section;

				padding: 1rem 5rem 1rem 15rem;
				border-bottom-right-radius: 85px;

				@include respond(sm-laptop) {
					padding: 1rem 2rem;
				}
				@include respond(big-tablet) {
					padding-left: 2rem;
					padding-right: 3rem;
					margin-right: 0.5rem;
				}
				@include respond(tablet) {
					background-color: $color-white;
					padding-right: 2rem;
				}
			}
		}

		.profile__image {
			position: relative;
			img {
				width: 44px;
				height: 44px;
				border-radius: 50%;
				overflow: hidden;
				// margin-bottom: 3px;
			}
			&-content {
				// display: none;
				div {
					background-color: #fff;
					color: $color-primary;
					border-radius: 50%;
					top: 25px;
					right: 0;
					padding: 0.1rem 0.2rem;
				}
			}
		}
	}
}
.Menu_action--badge {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $color-primary;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	overflow: hidden;
	font-size: 10px;
	position: absolute;
	bottom: 6px;
	right: 2px;
}
.profile-menu {
	display: flex;
	flex-direction: column;

	background: #fff;
	font-size: 1.4rem;
	font-weight: 700;
	color: #121212;
	justify-content: center;
	font-weight: 400;
	font-size: 1.3rem;

	background: #e5e5e56e;
	border-radius: 8px;
	padding: 15px;
	font-size: 1.6rem;
	font-weight: normal;
	color: #121212;
	justify-content: center;
	.exite {
		color: #fe6470;
	}
	svg {
		width: 19px;
		fill: #e5e5e56e;
	}
	&-item {
		display: flex;
		align-items: center;
		padding: 0.7rem 0;

		&-icon {
			margin-left: 10px;
			font-weight: 700;
			font-size: 18px;
		}
		&-arrow {
			margin-right: auto;
			font-size: 1rem;
		}
	}

	p.profile__name {
		margin-left: 1.6rem;
		color: $color-text;
	}
}
.ant-popover-inner {
	border-radius: 14px;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.35);

	overflow: hidden;
	&-content {
		padding: 0;
	}
}
.ant-popover-arrow {
	position: absolute;
	display: block;
	width: 23.485281px;
	height: 13.485281px;
	overflow: hidden;
	background: transparent;
	pointer-events: none;
	.ant-popover-arrow-content {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: block;
		width: 15px;
		height: 16px;
		margin: auto;
		background-color: #f4f4f4;
		content: '';
		pointer-events: auto;
	}
}
.ant-popover.ant-popover-rtl.ant-popover-placement-bottomLeft {
	left: 30px !important;
	top: 51px !important;
	transform-origin: 0px -4px;
}
.appbar__profile {
	max-width: 5rem;
	max-height: 5rem;
	position: relative;
	cursor: pointer;
	&.ant-dropdown-open {
		& svg {
			transform: rotate(180deg);
		}
	}
	& .ant-avatar {
		border-radius: $br-item;
		width: 100%;
		height: 100%;
	}

	& .ant-badge-rtl .ant-scroll-number-custom-component {
		bottom: 0;
		right: 0;
		transform: none;
		top: auto;
		left: auto;
		@include display-flex(center);
		width: 20px;
		height: 20px;
		color: $color-text;
		border-radius: 50%;
		background-color: $color-white;
		padding: 5px;
		& svg {
			margin-top: 2px;
			transition: all 300ms ease-in 30ms;
		}
	}

	&--menu {
		&.ant-menu {
			min-width: 30rem;
			border-left: 0;
			border-radius: 2rem;
			filter: drop-shadow(0 5px 10px rgba($color: #000, $alpha: 0.16));
			margin-top: -1px;
			overflow: hidden;
		}
		& .ant-menu-item {
			@include display-flex(space-between);
			flex-direction: row-reverse;
			margin-top: 5px;
			height: 5rem;
			&:not(:last-child) {
				margin-bottom: 0;
			}
			&:hover {
				& .ant-menu-item-icon {
					margin-left: 4px;
				}
			}

			&.information {
				width: 100%;
				height: auto;
				cursor: default;
				margin-top: 0;
				margin-bottom: 0;
				&.ant-menu-item-selected {
					background-color: #fff;
					color: $color-text;
				}
				&:hover {
					color: $color-text;
				}
			}
		}

		& .ant-menu-item-icon {
			margin-right: 0 !important;
			// transform: rotate(90deg);
			max-height: 10px;
		}
		& .ant-menu-title-content {
			@include display-flex;
			column-gap: 1rem;
			width: 100%;

			& > svg {
				max-width: 2rem;
			}
			& #favorites path {
				fill: none;
				stroke-width: 1.4px;
			}
		}

		& .ant-menu-item-danger {
			&:hover {
				color: $color-error;
			}
		}
	}

	&--info {
		width: 100%;
		@include display-flex;
		padding: 1.5rem 0;
		column-gap: 1rem;

		& h4 {
			line-height: 1.2;
			@include set-font(1.6rem, 700);
			margin-bottom: 2px;
		}

		&-content {
			line-height: 1.5;
			font-size: 12px;
		}

		& svg {
			width: 100%;
			height: 100%;
			max-width: 3rem;
			max-height: 3rem;
			color: $color-text;
		}
	}
}
