.sidebarMenu {
	// background: $color-blue-dark;
	// // position: fixed;
	// height: 100%;
	// border-top-left-radius: 123px;

	color: #ffffff;
	font-size: 14px;
	transition: all 0.4s;
	background: $color-section;
	border-top-left-radius: 14rem;

	padding-top: 10rem;

	display: flex;
	min-height: calc(100vh - 4rem);
	overflow: hidden;

	@include respond(big-tablet) {
		min-height: calc(100vh - 8rem);
		display: none;
	}
	@include respond(tablet) {
	}
	&__back {
	}
	.selected {
		color: $color-primary;
	}
	&__nestedul {
	}
	&__ul {
		margin: 0 20px 0 0;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	&__li {
		cursor: pointer;
		margin: 20.5px 0;
		@include respond(big-tablet) {
			margin: 1rem;
			& > a {
				column-gap: 2rem;
			}
		}
		.menuIcon {
			svg {
				width: 3.2rem;
				@include respond(big-tablet) {
					width: 100%;
					height: 100%;
					max-width: 2rem;
					max-height: 2.5rem;
				}
			}
		}
		&.exit {
			color: $color-error;
		}
		&.close {
			color: #ffefae;
		}
	}
	a {
		color: #ffffff;
	}
	p {
		padding-right: 16px;
		transition: all 0.4s;
		white-space: nowrap;
	}
}
.layout__sidebar {
	@include respond(sm-laptop) {
		// display:none;
	}
}
