//------------blue---------
$color-blue--dark: #012f47;
$color-blue: #022f47;
//-----------orange-------------
$color-orange: #f68521;
//--------------white-----------
$color-white: #fff;
$color-white-light: rgba(243, 243, 243, 0.7);
//-------------black-------------
$color-black-light: #010101;

//-----------------greeen---------------
$color-green: #47bea7;
