.courses {
  padding-top: 10rem;
  padding-bottom: 3rem;
  & .search {
    background-color: #ef801933;
    color: rgba(35, 62, 109, 0.7);
    font-size: 2rem;
    border: 2px solid #233e6db2;
    border-radius: 100px;
    font-weight: bold;
    &-img {
      position: absolute;
      left: 2rem;
      top: 50%;
      transform: translateY(-50%);
    }
    &-container {
      position: relative;
      margin-top: 3rem;
      margin-bottom: 3rem;
    }
    &::placeholder {
      color: rgba(35, 62, 109, 0.7);
      font-size: 2rem;
      background-color: transparent;
      font-weight: bold;
    }
    .ant-input-affix-wrapper.ant-input-affix-wrapper-rtl > input.ant-input {
      background-color: #ef801933;
    }

    .ant-input {
      &::placeholder,
      &:focus {
        background-color: transparent;
      }
    }
    .ant-input-affix-wrapper > input.ant-input {
      background-color: transparent;
    }
    input {
      background-color: transparent;
      // padding: 1.2rem;
      color: rgba(35, 62, 109, 0.7);
      font-size: 2rem;
      font-weight: bold;
      &:focus {
        background-color: #ef801933;
      }
      &::placeholder {
        color: rgba(35, 62, 109, 0.7);
        font-size: 2rem;
      }
      &::selection {
        background-color: transparent;
      }
    }
  }
  // .ant-input-affix-wrapper.ant-input-affix-wrapper-rtl > input.ant-input {
  //   background-color: transparent;
  // }
  &-filters {
    margin-top: 4rem;
    &__box {
      padding: 2rem;
      width: 100%;
      background-color: #f1f1f1;
      direction: rtl;
      border-radius: 20px;
    }

    &__title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 2.5rem;
      h6 {
      }
      i {
        font-weight: 300;
        font-size: 2.2rem;
      }
    }

    &__row {
      display: flex;
      align-items: center;
      margin-top: 2rem;
    }

    &__column {
      &:nth-child(2) {
        flex-basis: 45%;
        margin-right: 3rem;
      }
      &:nth-child(1) {
        flex-basis: 55%;
      }

      .filters-title {
        margin-right: 1.2rem;
      }

      .filters-items {
        background-color: #fff;
        border-radius: 2rem;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-around;
        font-size: 1.7rem;
        margin-top: 1.6rem;

        li {
          padding: 0.8rem;
          cursor: pointer;
          width: 100%;
          height: 100%;
          text-align: center;
          border-radius: 2.5rem;
          margin: 0 4px;
        }

        &__active {
          border: 3px solid #fea219;
          color: #fea219;
          font-weight: 700;
        }
      }
    }
  }
}
.Courses__searchTitle {
  font-size: 1.8rem;
  color: $color-black;
  margin-top: 4rem;
  margin-bottom: 2.4rem;
}
.Courses__img {
  width: 43rem;
  height: 38rem;
  margin: 0 auto;
}
.Courses__imgBox {
  text-align: center;
  width: 100%;
  margin-top: 2rem;
}
//swiper configs
.swiper-button-next {
  transform: translateX(-4rem);
  color: black;
  background-color: black;
  z-index: 10000000000000000000000;
}

//paging configs
.paging-button {
  background-color: #e5e5e5;
  color: $color-text;
  border: none;
}
