%space-section {
	padding: 4rem 0;
}

// %scroll-effect {
// 	scroll-snap-align: start;
// 	scroll-margin-top: 6rem;
// }

.home {
	&__header {
		background-color: $color-blue;
		padding: 14rem 0;
		@include respond(big-phone) {
			padding-bottom: 6.5rem;
		}

		&--content {
			@include respond(big-phone) {
				display: flex;
				flex-direction: column;
				align-items: center;
			}
		}

		&--title {
			font-size: 6rem;
			font-weight: 900;

			@include respond(tablet) {
				font-size: 3rem;
			}
		}

		&--caption {
			font-size: 2rem;
			color: #b9b9b9;
			margin-top: 4px;
			@include respond(big-phone) {
				margin-bottom: 3rem;
				margin-top: 1rem;
				font-size: 14px;
				text-align: center;
			}
		}

		&--action {
			& .link {
				font-size: 1.8rem;
				height: 5.8rem;
				min-width: 20rem;
				@include respond(tablet) {
					min-width: 16rem;
					height: 5rem;
				}
				@include respond(big-phone) {
					font-size: 12px;
				}
			}

			& .link__default {
				border-color: $color-white-1;
				color: $color-white-1;
				font-weight: 400;

				&:hover {
					color: $color-blue;
					background-color: $color-white-1;
				}
			}
		}
		&--wrapper {
			@include respond(big-phone) {
				flex-direction: column;
				align-items: center;
				row-gap: 1rem;
			}
		}
		&--pic {
			& svg {
				width: 100%;
				height: 100%;
				@include respond(big-phone) {
					max-width: 32rem;
				}
			}
		}

		&--search {
			margin-top: 8rem;
			max-width: calc(100% - 31rem);
			width: 100%;

			@include respond(sm-laptop) {
				max-width: 90%;
			}
			@include respond(tablet) {
				margin-top: 4rem;
			}
			@include respond(phone) {
				max-width: 95%;
			}
			& .ant-input {
				background-color: $color-blue-light-1;
				border: 0;
				border-radius: 5rem !important;
				min-height: 7rem;
				text-indent: 2rem;
				caret-color: $color-white-1;
				font-size: 1.8rem;
				color: $color-white-1;

				@include respond(big-phone) {
					min-height: 6rem;
				}

				&::placeholder {
					font-size: 1.8rem;
					color: rgba($color: $color-white-1, $alpha: 0.5);
				}
			}
			& .ant-input-group-addon {
				position: absolute;
				left: 2rem !important;
				top: 0.8rem;
				right: auto !important;
				width: auto;
				background-color: transparent;
				z-index: 10;
				@include respond(big-phone) {
					top: 4px;
					left: 1rem !important;
				}
			}

			& .ant-btn-primary {
				background-color: transparent;
				border: 0;
				color: $color-primary;
				opacity: 0.7;
				width: 5rem;
				height: 5rem;
				border-radius: 50% !important;
				padding: 0;
				@include display-flex(center);
				@include respond(big-phone) {
					padding: 1rem;
				}

				& svg {
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}
