.home {
	&__header {
		background-color: $color-blue;
		display: flex;
		&--content {
			@include display-flex(center, flex-end);
			margin: 14rem 7rem 10rem;
			@include respond(big-tablet) {
				margin: 14rem 4rem 10rem;
				flex-direction: column-reverse;
				align-items: center;
			}
			@include respond(tablet) {
				margin-left: 0;
				margin-right: 0;
			}
		}

		&--wrapper {
			max-width: 68rem;
			@include respond(big-tablet) {
				max-width: 100%;
			}
		}

		&--image {
			& img {
				width: 100%;
			}
		}

		&--box {
			background-color: #e0f3fa;
			padding: 2.5rem 4rem;
			border-radius: 3rem;
			@include d-flex-column('', flex-start);
			position: relative;
			margin-right: -30rem;
			margin-bottom: 30rem;
			filter: drop-shadow(
				10px 10px 11px rgba($color: $color-black, $alpha: 0.2)
			);
			max-width: 68rem;
			width: 100%;
			@include respond(big-tablet) {
				margin-bottom: 5.5rem;
				align-self: flex-end;
				margin-right: 0;
			}
			@include respond(tablet) {
				padding: 2.5rem;
			}
			& .button {
				align-self: flex-end;
			}

			& p {
				font-size: 2.2rem;
				font-weight: bold;
				margin: 1.5rem 0;
				@include respond(tablet) {
					font-size: 14px;
					& br {
						display: none;
					}
				}
			}

			&::after {
				content: '';
				position: absolute;
				width: 0;
				height: 0;
				width: 7.5rem;
				height: 5rem;
				background-color: #e0f3fa;
				bottom: -4.5rem;
				right: 11rem;
				transform: rotate(4deg);

				clip-path: polygon(0 0, 100% 0, 100% 100%, 94% 100%);
				border-bottom-right-radius: 5px;
				@include respond(phone) {
					// width: 50px;
					height: 36px;
					bottom: -3rem;
				}
			}
		}
		&--title {
			font-size: 4rem;
			font-weight: bold;
			color: $color-primary;
			@include respond(big-tablet) {
				font-size: 3.2rem;
			}
			@include respond(tablet) {
				font-size: 18px;
			}
		}

		&--search {
			margin-top: 1.5rem;
			@include display-flex(flex-end);

			& .ant-input-group-wrapper {
				max-width: 90%;
				flex-basis: 90%;
			}

			& .ant-input-wrapper {
				@include display-flex;
			}

			& .ant-input {
				background-color: transparent;
				color: $color-white;
				padding: 1.2rem 1rem;
				text-indent: 1rem;
				border: .5rem solid rgba($color: #e0f3fa, $alpha: 0.64);
				border-radius: 3rem !important;
				&:hover,
				&:focus {
					border-right-width: .5rem !important;
				}
				&::placeholder {
					@include set-font(16px, bold, $color-white);
				}
			}

			& .ant-input-search .ant-input-group-addon {
				position: absolute;
				left: 1.4rem !important;
				right: auto;
				width: 4rem;
				height: 4rem;
				background-color: transparent;
			}

			& .ant-btn-primary {
				background-color: transparent;
				border: 0;
				color: $color-primary;
				opacity: 0.7;
				width: 100%;
				height: 100%;
				border-radius: 50% !important;
				padding: 0;
				@include display-flex(center);
			}
		}
	}
}
