@import './abstract/_mixin';
@import './abstract/_var';
@import './mixins.scss';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  @include respond(tab-land) {
    font-size: 56.25%; //1rem=9px
  }
  @include respond(tab-port) {
    font-size: 50%; //1rem=8px
  }
  @include respond(smallest-phone) {
    font-size: 50%;
  }
  @include respond(big-desktop) {
    font-size: 80%;
  }
  @include respond(bigest-desktop) {
    font-size: 100%;
  }
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Vazir', sans-serif !important;
  direction: rtl;
}
button {
  font-family: 'Vazir', sans-serif !important;
}
select {
  font-family: 'Vazir', sans-serif !important;
}
.list {
  list-style: none;
}
a,
a:link,
a:active {
  text-decoration: none;
}


.container {
  max-width: 120rem;
  overflow: hidden;
  margin: 0 auto;
  padding: 0 2rem;
  @include respond(tab-port) {
    width: 100%;
    padding: 0;
  }
  @include respond(phone) {
    width: 100%;
  }
  @include respond(small-phone) {
    width: 100%;
  }

  @include respond(smallest-phone) {
    width: 100%;
  }
  @include respond(big-desktop) {
    max-width: 250rem;
    padding: 0 5rem;
  }
}
.d-flex-align{
  display: flex;
  align-items: center;
}
.d-flex-space{
  display: flex;
  align-items: center;
  justify-content: space-between;
}