.course-card-banner {
  background-color: #47bea7;
  border-radius: 56.5px 10px 10px 56.5px;

  div:last-child {
    border-radius: 50%;
    background: #fff;
    padding: 0.8rem;
  }
}

.suggest {
  margin-left: 0.5rem;
}
