.card-sm {
  z-index: 10;
  position: relative;
  max-height: 437px;
  background: #fff;
  box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  overflow: hidden;
  margin: 5px 0;
  padding: 15px;
  &-footer {
    border-top: 1px solid rgba(229, 229, 229, 0.8);
    padding-top: 15px;
    margin-top: 10px;
    &-level {
      padding: 5px 8px;
      border-radius: 5px;
      background-color: #46bea7;
    }
  }
  &-info-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 15px 0;
    svg {
      width: 18px;
    }
    &-time,
    &-user {
      color: $color-text;
    }
    &-star {
      color: $color-primary;
    }
  }
  &-img {
    height: auto;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    // background: linear-gradient(
    //   120deg,
    //   rgba(#45bda6, 1) 0%,
    //   rgba(#45bda6, 1) 20%,
    //   rgba(#b4d236, 1) 20%,
    //   rgba(#b4d236, 1) 100%
    // );

    &-title {
      img {
        width: 100%;
        height: 186px;
        border-radius: 15px;
      }

      h4 {
        font-size: 4rem;
        color: #fff;
        margin-left: 0.5rem;
      }
    }

    &-pic {
      display: flex;
      padding-right: 1rem;
      align-items: center;
      font-size: 1.6rem;

      h4 {
        padding: 0 4rem;
        margin-right: -2rem;
        border-radius: 1rem;
        position: relative;
        z-index: 9;
      }

      img {
        position: relative;
        z-index: 11;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        box-shadow: 0px 0px 5px 0px rgba(70, 190, 167, 0.5);
      }
    }

    &-hover {
      display: none;
      position: absolute;
      z-index: 15;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
     // background: rgba(255, 255, 255, 0.5);
      transition: all 2s cubic-bezier(0.39, 0.58, 0.57, 1);
      transition: all 0.5s ease-in-out;
      &--box{
        top: 10px;
        position: absolute;
        right: 5px;
        display: flex;
        flex-direction: column;
        align-items: cent
      }
      &--shopingcard {
       margin-bottom: 15px;
        border-radius: 50%;

      }

      &--heart {
               border-radius: 50%;

      }
      button {
        background: #fff;
        color: $color-blue-light-1;
      }
    }

    &:hover .card-sm-img-hover {
      display: block;
    }

    &-off-hide {
      display: none;
    }
    &-off-show {
      position: absolute;
      font-size: 1.3rem;
      background: $color-primary;
      padding: 1rem 1.5rem;
      border-bottom-left-radius: 1rem;
    }
  }

  &-content {
    padding: 2rem 0;
    h5 {
      font-size: 2.4rem;
      color: $color-blue-light-1;
      margin-bottom: 15px;
    }
    &-time {
      display: block;
      font-size: 1.6rem;
      margin-right: 6px;
      margin-bottom: -3px;
      color: $color-text;
    }

    &-price {
      display: block;
      color: #329c00;
      font-size: 1.5rem;
      padding-bottom: 1.2rem;
    }
  }
}
