.card-bg {
  // @include display-flex(space-between);
  display: flex;
  justify-content: space-between;

  //width: 92%;
  background-color: $color-white;
  // background: linear-gradient(116deg, $color-white 45%, #b3d136 45%);
  box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.15);
  border-radius:15px;
  overflow: hidden;
  position: relative;
  min-height: 30rem;
  margin: 5px auto;
  padding: 15px;
  width: 100%;
 
    &--shopingcard {
      top: 15px;
      border-radius: 50%;
      position: absolute;
      left:14px;
    }

    &--heart {
      top: 15px;
      border-radius: 50%;
      position: absolute;
      left: 66px;
    }
    button {
      background: #fff;
      color: $color-blue-light-1;
      box-shadow: 0px 0px 5px 0px rgba(70, 190, 167, 0.5);
    }
  
  &-footer {
    border-top: 1px solid rgba(229, 229, 229, 0.8);
    padding-top: 15px;
    margin-top: 10px;
    width: 100%;

  }
  // max-width: 120rem;
  @include respond(tablet) {
    justify-content: center;
    padding: 0 6px;
  }
  &-time {
    display: block;
    font-size: 1.6rem;
    margin-right: 6px;
    margin-bottom: -3px;
    color: $color-text;
  }
  &-img {
    height: auto;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in-out;

    &-title {
      img {
        width: 100%;
        height: 186px;
        border-radius: 15px;
      }

      h4 {
        font-size: 4rem;
        color: #fff;
        margin-left: 0.5rem;
      }
    }

    &-pic {
      display: flex;
      padding-right: 1rem;
      align-items: center;
      font-size: 1.6rem;

      h4 {
        padding: 0 4rem;
        margin-right: -2rem;
        border-radius: 1rem;
        position: relative;
        z-index: 9;
      }

      img {
        position: relative;
        z-index: 11;

        width: 35px;
        height: 35px;
        border-radius: 50%;
        box-shadow: 0px 0px 5px 0px rgba(70, 190, 167, 0.5);
      }
    }
  }

  &-info-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 15px 0;
    svg {
      width: 18px;
    }
    &-time,
    &-user {
      color: $color-text;
    }
    &-star {
      color: $color-primary;
    }
    &-level {
      padding: 5px 8px;
      border-radius: 5px;
      background-color: #46bea7;
      text-align: center;
    }
  }

  &-discount {
    position: absolute;
    top: 0;
    right: 0;
    width: 12rem;
    height: 5rem;
    background-color: $color-primary;
    @include display-flex(center);
    border-bottom-left-radius: 3.5rem;
    @include set-font(1.6rem, 300);
    column-gap: 4px;
    @include respond(big-phone) {
      width: 10rem;
      height: 4rem;
      font-size: 12px;
    }
  }

  &-pic {
    @include d-flex-column(center);

    @include respond(tablet) {
      justify-content: space-between;
      // flex-grow: 1;
      position: absolute;
      height: 100%;
      align-items: flex-start;
      border-radius: 15px;
      overflow: hidden;
    }
    @include respond(big-phone) {
      right: 10%;
    }

    & img {
      width: 32rem;
      height: 30rem;
      align-self: baseline;
      border-radius: 15px;

      &:last-child {
        @include respond(tablet) {
          max-width: 16rem;
        }
        @include respond(big-phone) {
          max-width: 14rem;
        }
        @include respond(phone) {
          max-width: 12rem;
        }
      }
    }

    &-logo {
      @include respond(tablet) {
        max-width: 6rem;
      }
      @include respond(phone) {
        max-width: 5rem;
      }
    }
  }

  &-info {
    flex-grow: 1;

    padding: 2rem 0 2rem 4vmax;
    @include respond(tablet) {
      flex-grow: 0;
      padding-left: 0;
    }
    @include respond(smallest-phone) {
      // margin-right: 2rem;
    }
  }
  &-content {
    width: 100%;
    height: 100%;
    padding-right: 2.7rem;
    @include d-flex-column;
    align-items: flex-start;
    @include respond(phone) {
      justify-content: space-between;
    }
    & .rate {
      @include respond(laptop) {
        margin-right: 20%;
      }
      @include respond(big-tablet) {
        margin-right: 20%;
      }
      @include respond(tablet) {
        margin-right: auto;
        padding-left: 4rem;
      }
      @include respond(smallest-phone) {
        padding-left: 1rem;
      }
    }
  }
  &-title {
    @include set-font(3.2rem, bold, $color-blue);

    @include respond(tab-port) {
      font-size: 2.6rem;
    }
    @include respond(tablet) {
    }
    @include respond(phone) {
      max-width: 65%;
      // margin-left: auto;

      font-size: 16px;
    }
  }

  &-box {
    @include display-flex;

    border-radius: 10rem;
    margin: 2rem 0;
    width: 122%;
    @include respond(phone) {
      // padding: 2rem 2rem 2rem 4rem;
      margin: 1rem 0;
    }
    @include respond(smallest-phone) {
    }

    // margin-right: -12rem;
    & img {
      height: 100%;
      min-width: 12rem;
      max-height: 10rem;
      object-fit: cover;
      @include respond(phone) {
        min-width: 12rem;
        max-height: 8rem;
      }
      @include respond(smallest-phone) {
        max-width: 9.5rem;
        max-height: 7rem;
      }
    }
    & .card-profile {
      margin-left: 3.5rem;
      @include respond(smallest-phone) {
        margin-left: 2rem;
      }
    }
  }
  &-details {
    position: relative;

    & > h4 {
      @include set-font(2.4rem, 600);
      margin-bottom: 1rem;
      @include respond(phone) {
        font-size: 14px;
        margin-bottom: 4px;
      }
    }

    &-time {
      @extend .d-flex;
      @include set-font(1.8rem, 600);
      margin-bottom: 0.8rem;

      & svg {
        max-width: 2.4rem;
        margin-left: 1rem;
        color: $color-black;
      }
      @include respond(tablet) {
        margin-bottom: 0;
      }
      @include respond(phone) {
        font-size: 12px;
        margin-bottom: 0;
        & svg {
          max-width: 2rem;
        }
      }
    }

    &-price {
      @extend .d-flex;
      @include set-font(1.8rem, 600);
      line-height: 1.6;
      & svg {
        max-width: 2.7rem;
        height: auto;
        margin-left: 1rem;
        color: $color-black;
      }
      & .price:not(:last-child) {
        margin-left: 3rem;
        @include respond(phone) {
          margin-left: 1rem;
        }
      }

      @include respond(phone) {
        font-size: 12px;
        & svg {
          max-width: 2.3rem;
        }
      }
    }
  }
}

.card-profile {
  overflow: hidden;
  border-radius: 0 10rem 10rem 1rem;
  //clip-path: polygon(5rem 0, 100% 0, 100% 100%, 0% 100%);
  @include respond(phone) {
    // clip-path: polygon(4.2rem 0, 100% 0, 100% 100%, 0% 100%);
  }
}
