.card-bg {
	@include display-flex(space-between);
	width: 100%;
	background-color: #b3d136;
	filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.25));
	border-radius: 4rem;
	overflow: hidden;
	min-height: 30rem;
	max-width: 120rem;

	&-pic {
		flex-basis: 30%;
		max-width: 30%;
		@include d-flex-column(center);
		&-logo {
			margin-bottom: 1.5rem;
			width: 100%;
			height: 100%;
			max-width: 10.5rem;
		}
	}

	&-info {
		flex-basis: 50%;
		max-width: 50%;
		position: relative;
		min-height: inherit;
		padding: 3rem 0 2rem 4rem;
		&::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-color: $color-white;
			clip-path: polygon(0 0, 100% 0, 72% 100%, 0% 100%);
			z-index: -1;
		}
	}
	&-content {
		width: 100%;
		height: 100%;
		@include d-flex-column('', flex-start);
		padding-right: 10%;
	}
	&-title {
		@include set-font(3.2rem, bold, $color-blue);
	}

	&-box {
		background-color: rgba($color: $color-green-dark, $alpha: 0.8);
		@include display-flex;
		padding: 2.5rem 4.5rem 2.5rem 6rem;
		border-radius: 10rem;
		margin: 2rem 0;
		margin-right: -15rem;
		& img {
			width: 100%;
			height: 100%;
			min-width: 16rem;
			max-height: 10rem;
			object-fit: cover;
		}
		& .card-profile {
			margin-left: 1rem;
		}
	}
	&-details {
		position: relative;
		// &::before {
		// 	content: '';
		// 	position: absolute;
		// 	width: 2px;
		// 	height: calc(100% + 2rem);
		// 	border-radius: 1px;
		// 	background-color: $color-blue-dark;
		// 	transform: rotate(27deg);
		// 	right: -3rem;
		// 	top: -1rem;
		// }
		& > h4 {
			@include set-font(2.4rem, 600);
			margin-bottom: 1rem;
			margin-right: -1.5rem;
		}

		&-time {
			@extend .d-flex;
			@include set-font(1.8rem, 600);
			margin-bottom: 0.8rem;
			margin-right: 0.3rem;

			& svg {
				max-width: 2.4rem;
				margin-left: 1rem;
				color: $color-black;
			}
		}

		&-price {
			@extend .d-flex;
			@include set-font(1.8rem, 600);
			margin-right: 2.2rem;
			& svg {
				max-width: 2.7rem;
				margin-left: 1rem;
				color: $color-black;
			}
			& .price:not(:last-child) {
				margin-left: 3rem;
			}
		}
	}
	// margin: 0 5rem;
	// z-index: 10;
	// position: relative;
	// height: 38rem;
	// width: 100%;
	// display: flex;
	// align-items: center;
	// background: linear-gradient(117deg, $color-white 50%, #b3d136 50%);

	// &-title {
	// 	position: absolute;
	// 	top: 7rem;
	// 	right: 16rem;
	// 	display: flex;
	// 	flex-direction: column;
	// 	align-items: center;
	// 	justify-content: center;

	// 	img {
	// 		width: 11rem;
	// 	}
	// 	h4 {
	// 		font-size: 9rem;
	// 		color: #fff;
	// 	}
	// }

	// &-info {
	// 	&-title {
	// 		color: #022f47;
	// 		font-size: 4.5rem;
	// 		position: absolute;
	// 		width: 100%;
	// 		top: 2rem;
	// 		right: 58rem;
	// 	}

	// 	&-content {
	// 		position: absolute;
	// 		top: 12.5rem;
	// 		left: 20.5rem;
	// 		width: 55rem;
	// 		background-color: #45bda7c2;
	// 		display: flex;
	// 		padding: 2.5rem 1.5rem;
	// 		border-radius: 8rem;

	// 		img {
	// 			width: 15rem;
	// 			margin-left: 3rem;
	// 		}

	// 		div {
	// 			h4 {
	// 				font-size: 2.5rem;
	// 			}
	// 			span {
	// 				font-size: 1.9rem;
	// 			}
	// 		}
	// 	}

	// 	.line {
	// 		width: 2.5px;
	// 		height: 100px;
	// 		background-color: #012f47;
	// 		position: relative;
	// 		z-index: 100;
	// 		transform: rotate(27deg);
	// 	}
	// }
}

.card-profile {
	overflow: hidden;
	border-radius: 0 10rem 10rem 1rem;
	clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%);
}
