.latestCourse {
  margin-top: 20px;
  .card-bg {
    margin: 5rem auto;
  }
  &__center {
    overflow: hidden;
    .slick-prev {
      left: 160px;
      z-index: 999;
     
      &::before{
        display: none;
      }
      img {
        width: 25px;
      }
    }
    .slick-next {
      right: 160px;
      z-index: 999;
   
      &::before{
        display: none;
      }
      img {
        width: 25px;
      }
    }
    .slick-list {
      overflow: unset;
      width: 54%;
      margin: 0 auto;
      @include respond(big-tablet) {
        width: 80%;
      }
      @include respond(tablet) {
        width: 100%;
      }
    }
    .slick-slide {
      direction: rtl;
      .card-bg {
        transform: scale(0.9);
        backdrop-filter: blur(6px);
        opacity: 0.6;
        // background-color: rgba($color: #eaeaea, $alpha: 0.5)
        @include respond(tablet) {
          transform: scale(1);
        }
      }
    }
    .slick-slide.slick-active.slick-center.slick-current {
      .card-bg {
        transform: scale(1.15);
        position: relative;
        z-index: 1000;
        backdrop-filter: none;
        opacity: 1;
        transition: all 0.2s ease-in;
        @include respond(tablet) {
          transform: scale(1);
        }
        box-shadow: 0px 0px 11px 6px rgb(0, 0, 0, 12%);
      }
    }
  }
}
