//news
.news {
  margin-top: 10rem;
  padding-bottom: 3rem;
  &-heading {
    font-size: 2.7rem;
    display: block;
    margin: 0 auto 2rem auto;
    width: max-content;
  };
  &-grid {
    @include display-grid(2rem, 40rem);
    max-width: 80%;
    margin:0 auto;

    //media queries
    @include respond(phone) {
      max-width: 95%;
    }
  };
  &-button {
    align-self: flex-end;
    margin-left: 0;
    margin-right: auto;
    width: max-content;
  };
};
//card
.card {
  @include d-flex-column('','');
  background-color: white;
  border-radius: 15px;
  box-shadow:$box-shadow;
  &-content {
    padding: 2.5rem;
  };
  &-heading {
    color: $color-primary;
  };
  &-paragraph {
    font-weight: normal;
  }
};

//single title
.Title {
  margin: 10rem auto 5rem auto;
  max-width: 80%;
  display: grid;
  grid-template-columns: 80% 20%;
  grid-gap: 3rem;
  &-paragraph {
    line-height: 1.8;
    font-weight: normal;
  }
  &-details {
    background-color: rgba($color-gray-dark, 0.5);
    border-radius: 0 100px 100px 0;
    padding: 1rem;
    width: 35%;
    transform: translate(-192.2%,-200%);
  }
  //media queries

  // lowering the outer space
  @include respond(big-phone) {
    max-width: 95%;
  }
  // stacking contents
  @include respond(phone) {
    grid-template-columns: 100%;
  }
  // moving headings
  &-heading {
    @include respond(phone) {
       margin-right: 2rem;
    }
  }
  &-heads {
    padding: 1rem;
    margin-bottom: 0.3rem;
    color: rgba($color-text-gray, 0.5);
    border-bottom: 1px solid rgba($color-text-gray, 0.5);
    font-size: 1.6rem;
    @include respond(phone) {
      text-align: center;
    }
  };
  &-title {
    font-size: 2.5rem;
  };
  &-date {
    margin-left: 1rem;
    margin-right: 2rem;
  }
  &-seen {
    margin-left: 1rem;
  }
  &-paging {
    width: max-content;
    margin: 3rem  auto;
  };
  &-cards {
    @include respond(phone) {
      padding: 0 6rem;
    }
  }
};

.orange {
  color: $color-primary;
};

.text-color {color: $color-text-light;}
.light {font-weight: normal; margin-left: 1rem; font-size: 1.6rem}
.margin-left {margin-left: 3rem}