.MasterSignUp {
	&__formBox {
		width: 75%;
		margin: 0 auto;
		@include respond(tablet) {
			width: 95%;
		}
	}
	&__gridBox {
		column-gap: 15rem;
		row-gap: 5rem;
		@include respond(tablet) {
			gap:2rem 5rem ;
		}
		@include respond(phone) {
			grid-template-columns: 1fr;
		}
	}
	&__textarea {
		margin-top: 4.6rem;
		@include respond(tablet) {
			text-align: right;
		}
	}
	&__ruleBox {
		margin-top: 2rem;
	}
	&__btn {
		display: inline;
	}
	&__btnBox {
		margin-top: 7rem;
	}
}
