.MasterSignUp {
    &__formBox {
        width: 75%;
        margin: 0 auto;
        @include respond(tablet) {
            width: 95%;
        }
    }
    &__gridBox {
        column-gap: 15rem;
        & > * {
            margin-bottom: 3rem;
        }
        justify-content: flex-start;
        @include respond(tablet) {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            width: 100%;
        }
    }
    &__textarea {
        margin-top: 2rem;
        text-align: right;
        @include respond(tablet) {
            text-align: right;
        }
    }
    &__ruleBox {
        margin-top: 2rem;
    }
    &__btn {
        display: inline;
    }
    &__btnBox {
        margin-top: 7rem;
    }
}
