.WorkWithUs {
    &__logoBox {
        margin: 0 auto;
        padding-top: 4rem;
    }
    &__logoBack {
        width: 12.7rem;
        height: 12.7rem;
        background-color: $color-blue;
        margin: 0 auto;
    }
    img {
        margin: -13.7rem auto 0 auto;
        width: 14.1rem;
        height: auto;
    }
    &__content {
        margin-top: 4rem;
    }
    &__titlebox {
        margin-bottom: 1.6rem;
    }
    &__txtBox {
        margin-right: 1.9rem;
        width: 90%;
        @include respond(tablet) {
            width: 80%;
            text-align: justify;
        }
    }
    &__title {
        font-size: 2rem;
        color: $color-blue;
    }
    &__txt {
        color: $color-text-light;
        font-size: 1.6rem;
        margin-bottom: 3.75rem;
    }
}
