.about {
 &-circle {
   background-color: #46BEA7;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: bold;
   max-width: 9rem;
   position: relative;
   &__1 {
     width: 6rem;
     height: 6rem;
   }
   &__2 {
     width: 9rem;
     height: 9rem;
   }
 }
  &-heading {
    font-size: 2.5rem;
    font-weight: 700;
  }
  &-line {
    background-color: $color-primary;
    display: block;
    width: 3px;
    height: 15rem;
    margin: 2rem 0;
    border-radius: 2px;
  }
  &-img__1 {
    position: absolute;
    left: -650%;
    top: 40%;
    width: 55rem;
  }
  &-img__2 {
    position: absolute;
    left: 180%;
    top: 40%;
    width: 55rem;
  }
  &-text__box {
    border-radius: 15px;
    box-shadow: 0 2px 15px 0 #00000040;
    padding: 2rem;
    min-width: 50rem;
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 28.8px;

    &-1 {
      position: absolute;
      left: 200%;
      top: 50%;
      transform: translateY(-50%);
    }
    &-2 {
      position: absolute;
      right: 200%;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &-conclusion {
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 4rem;
  }
  &-dots {
    font-size: 7.5rem;
    font-weight: bold;
    position: absolute;
    top: 0rem;
    right: 125%;
    display: block;
    letter-spacing: -0.5rem;
  }
}